.App {
  position: absolute;
  height: 100%;
  width: 100%;
  align-items: center;
  color: beige;
  background-color: darkslategrey;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.chart {
  position: relative;
  background-color: black;
}

.grid {
  position: absolute;
  right: 100px;
}