.header {
    border-bottom: 2px solid beige;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: darkslategrey;
}

.header-selectable {
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0 20px;
}

.header-selectable:hover {
    background-color: gray;
}

p {
    font-size: larger;
}

.on {
    background-color: cadetblue;
}


