/* HEADER */

.header {
    background-color: darkslategray;
    border-bottom: 2px solid beige;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-selectable {
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0 20px;
}

.header-selectable:hover, .header-selectable:hover > p {
    background-color: gray;
}

p {
    font-size: larger;
}

.on, .on > p {
    background-color: cadetblue;
}

/* PAGE DEFAULTS */

.content {
    background-color: darkslategray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CREATE PAGE */

.create {
    background-color: black;
}

.createButton {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
}
.createButton:hover, .createButton:hover > * {
    background-color: gray;
}
.createButton > * {
    color: white;
}

